<div>
@model List<Library.Models.Book>;

<div class="text-center">
    <h1 class="display-4">¡Estos son los Libros Registrados!</h1><br>

    @if (Model != null && Model.Any())
    {
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>ISBN</th>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>Categoria</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model)
                    {
                        <tr>
                            <td>@book.Id</td>
                            <td>@book.ISBN</td>
                            <td>@book.Title</td>
                            <td>@book.Author</td>
                            <td>@book.Category</td>
                            <td>@book.State</td>
                            <td>
                                <p>Aqui se reservara</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No hay Libros para mostrar.</p>
    }
</div>